<h1>My Photos</h1>
<%= form_with url:'/user/photos', method: :delete do |f| %>
  <%= f.submit 'Delete Selected' %>
  <% @photos.each do |photo| %>
    <%= f.label :photo_ids, image_tag(url_for(photo.image)), value: photo.id %>
    <%= f.check_box :photo_ids, {:multiple => true}, photo.id, nil %>
  <% end %>
<% end %>
